.sidebar 
  .logo-area.text-center elzero
   ul.links-area.list-unstyled.text-left
    li: a(href="#") homepage
    li
      a.toggle-submenu(href="#") 
       | forms
       i.fa.fa-angle-right.abd
      ul.child-links.list-unstyled
        li: a(href="#") input
        li: a(href="#") text-area
        li: a(href="#") chekbox
        li: a(href="#") radio
    li
      a.toggle-submenu(href="#") misc
      ul.child-links.list-unstyled
        li: a(href="#") loading
        li: a(href="#") breadcrump
  
   
